* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #0d1b2a;
}

.flex-row {
  display: flex;
  width: 100vw;
}

.room-id-input {
  width: 50%;
  margin-top: 1rem;
}

#copy-id {
  margin-top: 1rem;
}

#back-btn {
  position: absolute;
  margin-top: 2.5rem;
  margin-left: 2.5rem;
  outline: none;
  border: none;
}

video {
  margin-top: 3rem;
  min-width: 70%;
  max-width: 70%;
  max-height: initial;
}

::-webkit-scrollbar {
  display: none;
}

.btn {
  /* min-width: 30%; */
  background-color: #e0e1dd;
  color: #1b263b;
  font-weight: bold;
  /* padding: 50px; */
  outline: none;
}

.btn:hover {
  background-color: #778da9;
  color: #e0e1dd;
}

#open-vid {
  margin-bottom: 0.5rem;
}
