* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.flex-row {
  display: flex;
  width: 100vw;
}

.room-id-input {
  width: 50%;
}

#back-btn {
  margin-left: 2.5rem;
}

video {
  margin-top: 5rem;
  min-width: 70%;
}

::-webkit-scrollbar {
  display: none;
}
